@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
@import "../../styles/variables.scss";
@import "../../styles/normalize.css";
@import "../../styles/button.scss";

body,
html {
    height: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: $text-color;
    min-height: 100vh;
    background-color: #e5e5e5;
    overflow: hidden;
}

.wrapper {
    background-color: #e5e5e5;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.notFound {
    text-align: center;
    &-title {
        pointer-events: none;
        h1 {
            color: $accent;
            font-size: 150px;
        }
        margin-bottom: 25px;
    }
}
