/*======= COLORS =======*/
/*======= BORDER =======*/
.btn {
  display: inline-block;
  border-radius: 40px;
  background: -webkit-gradient(linear, left top, right top, from(#0499dd), color-stop(0%, #0499dd), to(#17c1bc));
  background: linear-gradient(90deg, #0499dd 0%, #0499dd 0%, #17c1bc 100%);
  padding: 15px 50px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  -webkit-transition: 0.3s linear all;
  transition: 0.3s linear all;
  text-align: center;
  outline: 2px solid transparent;
}
.btn:hover {
  outline: 2px solid #0499DD;
  background: transparent;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: -webkit-gradient(linear, left top, right top, from(#0499dd), color-stop(0%, #0499dd), to(#17c1bc));
  background-image: linear-gradient(90deg, #0499dd 0%, #0499dd 0%, #17c1bc 100%);
}

.search-btn {
  display: block;
  border-radius: 10px;
}