/*======= COLORS =======*/
/*======= BORDER =======*/
.search {
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  margin-bottom: 60px;
}
.search__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 60px 10px;
}
.search-types .types-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 60px;
}
.search-types .types-item {
  padding: 15px 10px;
  text-transform: uppercase;
  position: relative;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.search-types .types-item:hover {
  color: rgba(4, 153, 221, 0.75);
}
.search-types .types-item:hover::before {
  background-color: rgba(4, 153, 221, 0.75);
}
.search-types .types-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 10px;
  left: 10px;
  display: inline-block;
  height: 2px;
  background-color: #D4D4D4;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.search-types .types-item.active {
  color: #0499DD;
}
.search-types .types-item.active::before {
  background-color: #0499DD;
}

.search-config {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search__input-col {
  width: 100%;
  padding: 15px 0;
  max-width: 305px;
  margin: 0 auto;
}

.search-input-block {
  position: relative;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}
.search-input-block span[class^=icon] {
  color: #0499DD;
  font-size: 16px;
  position: absolute;
  right: 19px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.search-input-block .input-field {
  border-radius: 10px;
  width: 100%;
  border: 2px solid transparent;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0em;
  padding: 16px 30px 16px 16px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.search-input-block .input-field:focus {
  border: 2px solid #0499DD;
}

@media (min-width: 768px) {
  .search-types .types-item {
    width: 25%;
  }
  .search-types .types-item::before {
    right: -10px;
    left: -10px;
  }
  .search .search-config {
    margin: 0 -7px;
  }
  .search .search__input-col {
    padding: 0px 7px;
    width: 50%;
    margin-bottom: 15px;
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  .search-types .types-item {
    padding: 15px 25px;
  }
  .search .search__input-col {
    width: 25%;
  }
}