/*======= COLORS =======*/
$accent: #0499dd;
$gold: #ffc700;
$text-color: #282828;
$gradient: linear-gradient(90deg, rgba(4, 153, 221, 1) 0%, rgba(4, 153, 221, 1) 0%, rgba(23, 193, 188, 1) 100%);

/*======= BORDER =======*/
$input-radius: 10px;
$btn-radius: 40px;
$flyblock-radius: 20px;
